fastapi==0.115.12
uvicorn[standard]==0.34.3
gunicorn==23.0.0
sqlalchemy==2.0.41
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
bcrypt>=4.0.1
python-multipart==0.0.20
aiofiles==24.1.0
pandas==2.2.3
numpy==2.2.5
scikit-learn==1.6.1
azure-storage-blob==12.31.0
azure-identity==1.26.0
opencensus-ext-azure==1.1.13
pyodbc==5.2.0
python-dotenv==1.1.0
pydantic-settings==2.9.1
pydantic[email]==2.11.4
aiosqlite==0.21.0
httpx==0.28.1
pytest==8.3.5
pytest-asyncio==0.26.0
